@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Bacasime Antique', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #2d2834; */
  background: #E0F3FD;
   
}

header {
  margin-top:10rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

 

header h1 {
  margin: 0;
  white-space: nowrap;
  font-size: 2rem;
  letter-spacing: 0.08rem;
}

header p {
  margin: 0;
  padding-top: 0.8rem;
  font-size: 1.2rem;
}

#concepts {
  max-width: 50rem;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.concept {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 6px;
  
  width: 33%;
  transition: all 0.2s
}

.concept:hover {
  transform: translateY(-4px);
  transition: transform 0.2s;
  box-shadow: 0 2px 10px 0 #b3e4ff;
 }

.concept img {
  width: 6rem;
  height: 5rem;
  object-fit: contain;
}

.concept h2 {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
}

.concept p {
  margin: 0;
  text-align: center;
  font-size: 0.85rem;
}